.error-msg {
    background-color: rgb(234, 78, 78);
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(234, 78, 78);
    border-image: initial;
    border-radius: 10px;
}

.item:hover {
    background-color: rgb(234, 78, 78) !important;
    color:whitesmoke;
}

.invalid-inp {
    position: absolute; 
}

.inactive {
    height: 0;
    /* width: 0; */
    padding: 0;
    margin: 0;
    border: 0;
    transition: all 0.3s linear;
}

.active {
    height:100%;
  transition: all 0.3s linear;
}

.allaccounts:hover {
    background-color: #c6dbf5;
    cursor: pointer;
}

.allaccounts {
    display: flex;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 20px;
}

.allaccountslabel {
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.pill {
    margin-left: 3px;
    color: #4e4747;
    --sds-c-pill-radius-border: 1rem;
}
.pillicon {
    --sds-c-icon-radius-border: 1rem;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 5px;
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    background-color: white;
    width: 100%;
    padding-bottom: 10px;
}